name: ESLint
on:
  push:
    branches:
      - 'master'
    paths-ignore:
        - '.github/**'
        - '.vscode/**'
        - '*.md'
        - 'LICENSE'
        - '.gitignore'
  pull_request:
    branches:
      - 'master'
    paths-ignore:
        - '.github/**'
        - '.vscode/**'
        - '*.md'
        - 'LICENSE'
        - '.gitignore'
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 15.x]
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install global packages
        run: npm i -g eslint jest

      - name: Installs packages
        run: npm ci
  
      - name: Lint the repository
        run: eslint lib --ext .js --fix

      - name: Runs unit tests with Jest
        run: jest --config jest.config.js
